/* ✅ Media Query for larger screens */
@media (min-width: 768px) {

  main {
    max-width: 700px;
    margin: auto;
  }

  form {
    padding: 2rem;
  }

  .rating label {
    font-size: 1.5rem;
  }

}

/* Small screens */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

body {
  font-family: Arial, sans-serif;
  background: #f4f9f9;
  margin: 0;
}

header {
  background: #585ae6;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

form {
  background: rgb(188, 192, 238);
  padding: 1rem;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.rating label {
  display: inline-block;
  margin-right: 10px;
}

input[type="submit"] {
  background: #374177;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}


/* ====== FOOTER ====== */
footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background:#585ae6;
  color: white;
  font-size: 0.9rem;
}