:root{
--primary: #003897;
--secondary: #d72828;
--text: #333;
}

body{
font-family: Arial, sans-serif;
margin:0;
color:var(--text);
}

header{
background:var(--primary);
color:white;
text-align:center;
padding:1rem;
}

.hero img{
width:100%;
height:auto;
}

.data, .weather{
padding:1rem;
}

.weather-icon{
width:40px;
}

/* LARGE SCREEN */

@media screen and (min-width:768px){

main{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
}

.weather h2::after{
content:" ⛅";
}

.weather-icon{
display:none;
}
}
footer {
  background: #2c5675;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}
